/*General*/
* {
  box-sizing: border-box;
}

:root {
  --basic-black: #000000;
  --special-black: #333333;
  --basic-white: #FFFFFF;
  --basic-opacity: rgba(0, 0, 0, 0.3);
  --extra-opacity: rgba(255, 255, 255, 0.9);
  --light-opacity: rgba(255, 255, 255, 0.3);
  --basic-light-blue: #81B3D2;
  --special-light-blue: #669EC0;
  --special-dark-blue: #5496BD;
  --basic-brown: #766357;
  --special-brown: #604E43;
  --special-dark-brown: #503E33;
  --basic-gray: #CACACA;
  --extra-gray: #E5E5E5;
  --special-gray: #666666;
  --mid-gray: #A9A9A9;
  --basic-neutral: #F2F2F2;
  --simple-neutral: #ABABAB;
  --extra-neutral: #EEEEEE;
  --special-neutral-1: #EBEBEB;
  --special-neutral-2: #A9A9A9;
  --special-neutral-3: #BDBBBC;
  --basic-shadow: rgba(0, 0, 0, 0.2);
  --special-shadow: rgba(171, 171, 171, 0.3);
}

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  min-width: 768px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-neutral);
  box-shadow: 0 5px 15px 0 var(--basic-shadow);
}

.page-body a {
  text-decoration: none;
}

.page-body img {
  max-width: 100%;
  height: auto;
  display: block;
  max-width: 100%;
}

.visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header*/

.main-header {
  min-height: 56px;
  background-color: var(--basic-white);
}

.main-nav {
  position: relative;
}

.main-header-logo {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  width: 138px;
  height: 70px;
  margin: auto;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: var(--basic-white);
  justify-content: space-between;
}

.site-nav li {
  width: 200px;
  padding: 15px 0;
}

.site-nav li:nth-child(4n+1),
.site-nav li:nth-child(4n+2) {
  text-align: left;
}

.site-nav li:nth-child(4n+3),
.site-nav li:nth-child(4n+4) {
  text-align: right;
}

.site-nav li:nth-child(4n+1) {
  margin-left: 70px;
}

.site-nav li:nth-child(4n+3) {
  margin-left: 175px;
}

.site-nav li:nth-child(4n+4) {
  margin-right: 72px;
}


.site-nav a {
  color: var(--basic-black);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--basic-light-blue);
}

.site-nav a:active {
  color: var(--basic-brown);
}


/*Main*/

/*Main page*/
.welcome-block {
  text-align: center;
  position: relative;
  background-color: var(--basic-light-blue);
  background-image: url("../img/town-bgr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 20%;
  padding-top: 77px;
  padding-bottom: 80px;
}

.welcome-block img {
  margin: 0 auto;
}

.welcome-block::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 57px;
  background-image: url("../img/icons/bgr-shape.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.about-town {
  width: 100%;
  padding: 27px 0;
  padding-bottom: 38px;
  background-color: var(--basic-white);
}

.about-town h1 {
  line-height: 26px;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  color: var(--basic-black);
  margin-bottom: 44px;
}

.about-town p {
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: var(--special-black);
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;
  background-color: var(--extra-neutral);
}

.advantages-list {
  list-style: none;
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr 1fr 1fr;
}

.advantages-item-full {
  grid-column: 1/-1;
}

.advantages-item-text {
  width: 400px;
  text-align: center;
  line-height: 21px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.advantages-item-full .advantages-item-text {
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
}

.advantages-item-pict {
  width: 800px;
}

.stuff-list {
  width: 100%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: white;
  padding: 0;
  margin: 0;
}

.advantages-item-text h2 {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 26px;
}

.advantages-item-text span,
.advantages-item-text p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 23px;
  display: block;
}

.stuff-item {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center 60px;
  background-color: var(--basic-white);
  padding-top: 137px;
  padding-bottom: 68px;
}

.house {
  background-image: url("../img/icons/house.svg");
}

.food {
  background-image: url("../img/icons/burger.svg");
}

.souvenir {
  background-image: url("../img/icons/souvenir.svg");
}

.price-fieldset {
  width: 30%;
  min-width: 220px;
  margin-left: auto;
}

.price-fieldset fieldset {
  border: none;
  margin-left: -8px;
}


.price-controls {
  display: flex;
  position: relative;
  height: 36px;
  margin-top: 5px;
  margin-bottom: 18px;
  padding: 0;
  border-width: 2px;
  border-style: solid;
  border-color: var(--basic-white);
  border-radius: 3px;
  width: 317px;
}

.price-controls::after {
  /* вертикальная линия-разделитель */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  transform: translate(-50%, -50%);
}

.label-price {
  width: 48%;
  max-width: 150px;
  text-align: right;
}

.input-price {
  width: 47%;
  max-width: 66px;
  height: 32px;
  background-color: transparent;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 20px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--light-opacity);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background-color: var(--simple-neutral);
  border-width: 8px;
  border-style: solid;
  border-color: var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 1px 0px 1px var(--special-shadow);
  cursor: pointer;
}

.range-toggle-min {
  left: 0px;
}

.range-toggle-min:hover{
  transform: scale(1.1);
}

.range-toggle-max {
  left: 80%;
}

.range-toggle-max:hover{
  transform: scale(1.1);
}

.stuff-item h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 27px;
}

.stuff-item p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.search-offers {
  width: 100%;
  text-align: center;
  background-color: var(--basic-white);
}

.search-offers h2 {
  font-size: 30px;
  line-height: 36px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 15px;
}

.search-offers p {
  font-weight: 400;
  line-height: 24px;
  color: var(--special-black);
}

.search-btn {
  display: block;
  width: 568px;
  min-height: 86px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 30px 30px 30px;
  font: inherit;
  font-size: 21px;
  line-height: 26px;
  border: none;
  border-radius: 0;
  background-color: var(--basic-brown);
  color: var(--basic-white);
}

.search-btn:hover,
.search-btn:focus {
  background-color: var(--special-brown);
}

.search-btn:active {
  color: var(--basic-opacity);
  background-color: var(--special-dark-brown);
}

.map {
  position: relative;
  min-height: 593px;
  width: 100%;
  background-color: var(--basic-gray);
  margin-bottom: -127px;
}

/*Search form for hotels*/

.hotel-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* относительно блока .map */
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 568px;
  min-height: 395px;
  padding: 55px;
  margin: 0 auto;
  background-color: var(--basic-white);
  box-shadow: 0 5px 15px 0 var(--basic-shadow);
}


.hotel-form-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 29px;
}

.input-date-block {
  position: relative;
}

.hotel-form label,
.hotel-form input {
  font: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.hotel-form input {
  width: 346px;
  height: 38px;
  padding-left: 11px;
  padding-right: 35px;
  background-color: var(--basic-neutral);
  border-width: 2px;
  border-style: solid;
  border-color: var(--basic-neutral);
}

.hotel-form input:hover {
  background-color: var(--special-neutral-1);
  border-width: 2px;
  border-style: solid;
  border-color: var(--special-neutral-1);
}

.hotel-form input:focus {
  background-color: var(--basic-white);
  border-width: 2px;
  border-style: solid;
  border-color: var(--special-neutral-1);
}

.hotel-form label {
  min-height: 38px;
  width: 112px;
  padding-top: 7px;
  text-align: left;
}

.hotel-form label[for="child-count"] {
  width: 118px;
  padding-left: 27px;
  text-align: center;
}

.hotel-form input[name="child-count"],
.hotel-form input[name="adult-count"] {
  width: 38px;
  padding-left: 14px;
  padding-right: 0px;
}

.minus-btn,
.plus-btn {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: var(--basic-neutral);
  border: none;
}

.plus-btn::before {
  /* знак + */
  content: "";
  position: absolute;
  top: 14px;
  left: 17px;
  height: 11px;
  width: 3px;
  background-color: var(--mid-gray);
}

.plus-btn::after {
  /* знак + */
  content: "";
  position: absolute;
  top: 18px;
  left: 13px;
  height: 3px;
  width: 11px;
  background-color: var(--mid-gray);
}

.minus-btn::after {
  /* знак - */
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;
  height: 3px;
  width: 11px;
  background-color: var(--mid-gray);
}

.plus-btn:active::before,
.plus-btn:active::after,
.minus-btn:active::after {
  background-color: var(--basic-light-blue);
}

.plus-btn:hover::before,
.plus-btn:hover::after,
.plus-btn:focus::before,
.plus-btn:focus::after,
.minus-btn:hover::after,
.minus-btn:focus::after {
  background-color: var(--basic-black);
}

.calendar-btn {
  position: absolute;
  /*отн. input-date-block*/
  right: 7px;
  top: 6px;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  background-color: transparent;
  background-image: url("../img/icons/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.calendar-btn:hover,
.calendar-btn:focus {
  background-image: url("../img/icons/calendar-hover.svg");
}

.calendar-btn:active {
  background-image: url("../img/icons/calendar-active.svg");
}

.plus-btn,
.minus-btn {
  width: 38px;
  height: 38px;
  background-color: var(--basic-neutral);
  border: none;
}

.hotel-find-btn {
  display: block;
  font: inherit;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: uppercase;
  text-align: center;
  background-color: var(--basic-light-blue);
  border: none;
  min-height: 58px;
  width: 100%;
  margin: 0 auto;
  margin-top: 25px;
}

.hotel-find-btn:hover,
.hotel-find-btn:focus {
  background-color: var(--special-light-blue);
}

.hotel-find-btn:active {
  color: var(--basic-opacity);
  background-color: var(--special-dark-blue);
}

/*Catalog page*/
.hotel-select {
  min-height: 217px;
  padding-top: 28px;
  padding-bottom: 28px;
  padding-left: 73px;
  padding-right: 73px;
  background-color: var(--basic-neutral);
  background-image: url("../img/town-bgr-blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 16%;
}

.hotel-catalog-form {
  display: flex;
}

.hotel-catalog-form > fieldset {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 204px;
  width: 253px;
  margin-top: -3px;
}

.hotel-catalog-form legend {
  margin: 0;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
}

.hotel-catalog-form input,
.hotel-catalog-form label {
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
}

.hotel-options-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  list-style: none;
}

.hotel-option {
  margin-bottom: 20px;
}

.hotel-option:last-child {
  margin-bottom: 0;
}

.hotel-option label {
  position: relative;
  padding-left: 38px;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off-enabled.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input:checked + label::before {
  background-image: url("../img/icons/checkbox-on-enabled.svg");
}

.filter-input:disabled + label::before {
  background-image: url("../img/icons/checkbox-off-disabled.svg");
}

.filter-input:checked:disabled + label::before {
  background-image: url("../img/icons/checkbox-on-disabled.svg");
}

.filter-btn {
  display: block;
  width: 137px;
  height: 36px;
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: var(--basic-white);
  border-radius: 3px;
  margin-left: 85px;
  margin-top: 5px;
}

.filter-btn:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.hotel-catalog-sort {
  background-color: var(--basic-white);
}

.hotels-sort {
  display: flex;
  align-items: center;
  min-height: 86px;
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 73px;
  padding-right: 73px;
}

.hotels-count {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  margin: 0;
  min-width: 120px;
  margin-right: 45px;
  display: block;
  color: var(--basic-black);
}

.sorting-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-right: 40px;
  color: var(--basic-black);
}

.sorting-list {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sorting-list li {
  margin-right: 33px;
}

.sorting-type-list li:last-child {
  margin-right: 0;
}

.sorting-list a {
  font-size: 12px;
  font-weight: 400;
  color: var(--basic-opacity);
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: var(--basic-light-blue);
}

.sorting-list a:hover,
.sorting-list a:focus {
  color: var(--basic-light-blue);
  border-bottom-width: 1px;
  border-bottom-style: dotted;
  border-bottom-color: var(--basic-light-blue);
}

.sorting-list a:active {
  color: var(--basic-black);
  border-bottom: none;
}

.sorting-list a.sorting-active {
  color: var(--basic-light-blue);
  border-bottom: none;
}

.arrows-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.arrows-list li {
  display: flex;
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.arrows-list li:first-child {
  margin-left: 0;
}

.arrows-list a {
  position: relative;
  width: 100%;
  height: 100%;
}

.arrow-up::before {
  position: absolute;
  content: "";
  left: -3px;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 11px 5px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: var(--basic-gray);
  border-left-color: transparent;
}

.arrow-down::before {
  position: absolute;
  content: "";
  left: 0;
  top: 3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 11px 5px 0 5px;
  border-top-color: var(--basic-gray);
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.arrow-up,
.arrow-down {
  position: relative;
}

.arrow-up:hover::before {
  border-top-color: transparent;
  border-bottom-color: var(--basic-black);
}

.arrow-down:hover::before {
  border-top-color: var(--basic-black);
  border-bottom-color: transparent;
}

.arrow-up:focus::before,
.arrow-up:active::before {
  border-top-color: transparent;
  border-bottom-color: var(--basic-light-blue);
}

.arrow-down:focus::before,
.arrow-down:active::before {
  border-top-color: var(--basic-light-blue);
  border-bottom-color: transparent;
}

.hotel-catalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotel-catalog-list:last-child {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--extra-gray);
}

.catalog-item {
  min-height: 150px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: var(--extra-gray);
  padding-left: 73px;
  padding-right: 73px;
}

.catalog-item-data {
  display: grid;
  grid-template-columns: 135px 1fr 110px;
  min-height: 150px;
  padding-top: 25px;
}

.catalog-item-description {
  display: flex;
  flex-wrap: wrap;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 18px;
}

.catalog-item-description h2 {
  width: 100%;
  margin: 0;
}

.catalog-item-data img {
  width: 135px;
  height: 90px;
  margin-right: 30px;
  margin-top: 5px;
}


.hotel-type,
.hotel-price {
  margin-right: 0;
  margin-left: -8px;
  margin-top: -18px;
  margin-bottom: 14px;
}


.catalog-item-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  color: var(--basic-black);
  margin-top: -8px;
  display: inline;
}

.catalog-item-title:hover,
.catalog-item-title:focus {
  color: var(--basic-light-blue);
}

.catalog-item-title:active {
  color: var(--basic-opacity);
}

.hotel-type,
.hotel-price,
.rating-stars,
.rating-score {
  font-weight: 400;
  line-height: 21px;
  padding: 10px;
  display: block;
}

.info-btn {
  display: block;
  width: 110px;
  height: 27px;
  line-height: 21px;
  text-align: center;
  padding: 3px 17px;
  margin-right: 7px;
  margin-top: -10px;
  color: var(--basic-white);
}

.book-btn {
  display: block;
  width: 142px;
  height: 27px;
  line-height: 21px;
  text-align: center;
  padding: 3px 17px;
  margin-top: -10px;
  color: var(--basic-white);
}

.info-btn {
  background-color: var(--basic-light-blue);
}

.book-btn {
  background-color: var(--basic-brown);
}

.info-btn:hover {
  background-color: var(--special-light-blue);
}

.book-btn:hover {
  background-color: var(--special-brown);
}

.info-btn:active {
  background-color: var(--special-dark-blue);
}

.book-btn:active {
  background-color: var(--special-dark-brown);
}

.rating-data {
  min-width: 110px;
}

.rating-stars {
  width: 100px;
  height: 20px;
  text-align: right;
  background-image: url("../img/icons/star.svg");
  background-repeat: space no-repeat;
}

.one-star {
  width: 18px;
}

.two-stars {
  width: 41px;
  margin-left: 70px;
  margin-top: 2px;
}

.three-stars {
  width: 65px;
  margin-left: 47px;
  margin-top: 2px;
}

.four-stars {
  width: 89px;
  margin-left: 22px;
  margin-top: 2px;
}

.five-stars {
  width: 107px;
}

.rating-score {
  color: var(--special-gray);
  text-align: center;
  background-color: var(--basic-neutral);
  margin-top: 45px;
  padding: 2px;
}

/*Footer*/
.main-footer {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 120px;
  background-color: var(--extra-opacity);
}

.footer-tag,
.social,
.html-logo {
  /* width: 33.33%; */
  text-align: center;
}

.footer-tag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 72px;
  padding-bottom: 25px;
}

.footer-tag > a {
  font-size: 21px;
  min-width: 200px;
  color: var(--basic-black);
  padding-top: 10px;
}

.social {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-item {
  width: 46px;
  height: 48px;
  margin: 0 3px;
  background-color: var(--special-dark-blue);
}

.social-btn {
  display: block;
  width: 46px;
  height: 48px;
  color: var(--basic-white);
  background-color: var(--basic-light-blue);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn:hover,
.social-btn:focus {
  background-color: var(--special-light-blue);
}

.social-btn:active {
  background-color: transparent;
  opacity: 0.3;
}

.twitter {
  background-image: url("../img/icons/twitter.svg");
}

.facebook {
  background-image: url("../img/icons/facebook.svg");
}

.youtube {
  background-image: url("../img/icons/youtube.svg");
}

.html-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 62px;
}

.html-logo span {
  font-size: 14px;
  font-weight: 400;
  text-align: right;
  margin-right: 12px;
}

.html-logo-link {
  display: block;
  width: 115px;
  height: 33px;
  color: var(--basic-black);
}

.html-logo-link:hover,
.html-logo-link:focus {
  color: var(--basic-light-blue);
}

.html-logo-link:active {
  color: var(--special-neutral-3);
}
